<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.H360POS"
        android:usesCleartextTraffic="false">
        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.H360POS.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <!-- H360-CUSTOM-PATCH [H360_ANDROID_WEBVIEW_DEEPLINK] -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="pos.h360.cd" />
                <data android:scheme="https" android:host="stack.git.h360.cd" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="h360" android:host="shortcut" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WidgetSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".CopilotComposerActivity"
            android:exported="false" />

        <receiver
            android:name=".H360WidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/h360_status_widget_info" />
        </receiver>

        <receiver
            android:name=".H360CopilotWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="cd.h360.pos.ACTION_QUICK_PROMPT" />
                <action android:name="cd.h360.pos.ACTION_OPEN_COMPOSER" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/h360_copilot_widget_info" />
        </receiver>

        <receiver
            android:name=".H360InsightsCardsWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="cd.h360.pos.ACTION_CATEGORY_SALES" />
                <action android:name="cd.h360.pos.ACTION_CATEGORY_STOCK" />
                <action android:name="cd.h360.pos.ACTION_CATEGORY_HEALTH" />
                <action android:name="cd.h360.pos.ACTION_INSIGHTS_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/h360_insights_cards_widget_info" />
        </receiver>

        <receiver
            android:name=".H360AdviceWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="cd.h360.pos.ACTION_ADVICE_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/h360_advice_widget_info" />
        </receiver>

        <receiver
            android:name=".H360RealtimeRefreshReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="cd.h360.pos.ACTION_WIDGET_REALTIME_TICK" />
            </intent-filter>
        </receiver>

        <service
            android:name=".H360FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
